* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

ol, ul {
  list-style: none;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
}

.top {
  background: #007878;
  height: 48px;
  width: 100%;
}
.top li {
  color: white;
  margin-right: 7px;
  margin-top: 10px;
}

nav #search {
  width: 504px;
  height: 48px;
  margin-right: 100px;
  border-radius: 8px;
  background: #F7F9FC;
  position: relative;
}
nav .search-icon {
  position: absolute;
  margin-left: 36%;
  margin-top: 10px;
}
nav .container-fluid {
  padding: 30px;
}
nav .navbar-brand {
  font-size: 30px;
  margin-left: 100px;
  margin-right: 100px;
}
nav ul {
  margin-left: 70px;
}

.bags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bags li {
  display: flex;
  gap: 30px;
  color: #273142;
}

.bags {
  margin-left: 100px;
}

#slider {
  background-color: #ffe2e0;
  height: 584px;
}
#slider .slider-img img {
  width: 642px;
  height: 535px;
  flex-shrink: 0;
}
#slider .slider-content {
  margin-top: 99px;
}
#slider .slider-content h2 {
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  color: #df4244;
}
#slider .slider-content h1 {
  font-family: Rubik;
  font-size: 40px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  color: #212121;
}
#slider .slider-content p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(33, 33, 33, 0.7490196078);
}
#slider .slider-content button {
  margin-top: 48px;
  width: 192px;
  height: 52px;
  top: 551px;
  left: 201px;
  border-radius: 8px;
  border: none;
  background-color: #206363;
}
#slider .slider-content button a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

#services {
  height: 144px;
  background-color: #f7f7f7;
}
#services .services-box {
  margin: 59px auto;
}
#services .services-box span {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}

#categories .categories-box {
  border-radius: 8px;
  background: #f5f5f5;
  width: 264px;
  height: 162px;
  flex-shrink: 0;
  padding: 24px;
  margin: 80px 0;
  position: relative;
}
#categories .categories-box span {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#categories .categories-box img {
  width: 163px;
  height: 157px;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

#featured {
  padding-bottom: 72px;
}
#featured .featured-heading h1 {
  color: #000;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#featured .featured-heading a {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#featured .featured-carts .cart {
  width: 360px;
  height: 508px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #f9f9f9;
}
#featured .featured-carts .cart .cart-img-box {
  height: 270px;
  padding: 16px;
}
#featured .featured-carts .cart .cart-img-box .cart-img img {
  width: 218px;
  height: 243px;
  flex-shrink: 0;
}
#featured .featured-carts .cart .cart-img-box .new {
  width: 79px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #43d167;
}
#featured .featured-carts .cart .cart-img-box .new span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
}
#featured .featured-carts .cart .cart-img-box .discount {
  width: 79px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #DF4244;
}
#featured .featured-carts .cart .cart-img-box .discount span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
}
#featured .featured-carts .cart .cart-text-content {
  margin-top: 46px;
}
#featured .featured-carts .cart .cart-text-content .desc {
  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
#featured .featured-carts .cart .cart-text-content .price .new-price {
  color: #f75145;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 34px */
}
#featured .featured-carts .cart .cart-text-content .price .old-price {
  color: rgba(54, 54, 54, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
#featured .featured-carts .cart .cart-text-content .add-to-card {
  margin-top: 31px;
  width: 312px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #212121;
}

#bestseller {
  padding-bottom: 72px;
  padding-top: 72px;
  background-color: #FFF7F7;
}
#bestseller .featured-heading h1 {
  color: #000;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#bestseller .featured-heading a {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#bestseller .featured-carts .cart {
  width: 360px;
  height: 508px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #f9f9f9;
}
#bestseller .featured-carts .cart .cart-img-box {
  height: 270px;
  padding: 16px;
}
#bestseller .featured-carts .cart .cart-img-box .cart-img img {
  width: 218px;
  height: 243px;
  flex-shrink: 0;
}
#bestseller .featured-carts .cart .cart-img-box .new {
  width: 79px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #43d167;
}
#bestseller .featured-carts .cart .cart-img-box .new span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
}
#bestseller .featured-carts .cart .cart-img-box .discount {
  width: 79px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #DF4244;
}
#bestseller .featured-carts .cart .cart-img-box .discount span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
}
#bestseller .featured-carts .cart .cart-text-content {
  margin-top: 46px;
}
#bestseller .featured-carts .cart .cart-text-content .desc {
  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
#bestseller .featured-carts .cart .cart-text-content .price .new-price {
  color: #f75145;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 34px */
}
#bestseller .featured-carts .cart .cart-text-content .price .old-price {
  color: rgba(54, 54, 54, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
#bestseller .featured-carts .cart .cart-text-content .add-to-card {
  margin-top: 31px;
  width: 312px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #212121;
}

#discounted {
  padding-bottom: 72px;
  padding-top: 72px;
}
#discounted .featured-heading h1 {
  color: #000;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#discounted .featured-heading a {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
#discounted .featured-carts .cart {
  width: 360px;
  height: 508px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #f9f9f9;
}
#discounted .featured-carts .cart .cart-img-box {
  height: 270px;
  padding: 16px;
}
#discounted .featured-carts .cart .cart-img-box .cart-img img {
  width: 218px;
  height: 243px;
  flex-shrink: 0;
}
#discounted .featured-carts .cart .cart-img-box .new {
  width: 79px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #43d167;
}
#discounted .featured-carts .cart .cart-img-box .new span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
}
#discounted .featured-carts .cart .cart-img-box .discount {
  width: 79px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #DF4244;
}
#discounted .featured-carts .cart .cart-img-box .discount span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
}
#discounted .featured-carts .cart .cart-text-content {
  margin-top: 46px;
}
#discounted .featured-carts .cart .cart-text-content .desc {
  color: #000;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
#discounted .featured-carts .cart .cart-text-content .price .new-price {
  color: #f75145;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 34px */
}
#discounted .featured-carts .cart .cart-text-content .price .old-price {
  color: rgba(54, 54, 54, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
#discounted .featured-carts .cart .cart-text-content .add-to-card {
  margin-top: 31px;
  width: 312px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #212121;
}

.main .arrow {
  margin-top: 30px;
  margin-left: 50px;
  gap: 4px;
}
.main .arrow svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.main .arrow p {
  color: rgba(29, 29, 29, 0.75);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
}
.main .arrow h5 {
  color: #1D1D1D;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
}
.main .cat {
  margin-top: 14px;
  margin-left: 50px;
}
.main .cat h4 {
  color: #212121;
  font-family: Rubik;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 68px */
}
.main .result {
  gap: 10px;
  margin-left: 80%;
}
.main .result .featured {
  border-radius: 8px;
  border: 1px solid #D0D0D0;
  background: white;
  width: 140px;
  height: 40px;
  flex-shrink: 0;
}
.main .result p {
  color: rgba(33, 33, 33, 0.9);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
.main .page-list {
  justify-content: space-between;
  margin-top: 70px;
  margin-left: 40px;
}
.main .page-list .container {
  width: 70%;
}
.main .page-list .box-1 {
  border-radius: 8px;
  border: 1px solid #D0D0D0;
  width: 326px;
  height: 340px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .page-list .box-1 .bag-variants {
  margin-top: 15px;
}
.main .page-list .box-1 .bag-variants li {
  margin-top: 5px;
}
.main .page-list .box-2 {
  width: 326px;
  height: 146px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #D0D0D0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.main .page-list .box-2 .price-min {
  width: 72px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #C8C8C8;
  margin-right: 7px;
}
.main .page-list .box-2 .price-max {
  width: 72px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #C8C8C8;
  margin-left: 7px;
}
.main .page-list .box-2 .for-prices {
  width: 51px;
  height: 40px;
  flex-shrink: 0;
  background: #EF544F;
  border: none;
  border-radius: 8px;
  margin-left: 7px;
}
.main .page-list .box-2 .about-the-price {
  margin-top: 20px;
}
.main .page-list .box-3 {
  width: 326px;
  height: 139px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #D0D0D0;
  margin-top: 10px;
}
.main .page-list .box-3 .sizes {
  margin-top: 20px;
}
.main .page-list .box-3 .size {
  width: 64px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #C8C8C8;
}
.main .page-list .box-4 {
  width: 326px;
  height: 159px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #D0D0D0;
  margin-top: 10px;
}
.main .page-list .box-4 .color {
  margin-top: 20px;
}
.main .page-list .box-4 .color .dark-green {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #275240;
  cursor: pointer;
}
.main .page-list .box-4 .color .blue {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #0085FF;
  margin-left: 7px;
  cursor: pointer;
}
.main .page-list .box-4 .color .dark-brown {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #3D2A33;
  margin-left: 7px;
  cursor: pointer;
}
.main .page-list .box-4 .color .brown {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #773838;
  margin-left: 7px;
  cursor: pointer;
}
.main .page-list .box-4 .color .black {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #000;
  margin-left: 7px;
  cursor: pointer;
}
.main .page-list .box-4 .color .green {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #307E46;
  margin-left: 7px;
  cursor: pointer;
}
.main .page-list .box-4 .color .seablue {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #0085FF;
  margin-left: 7px;
  cursor: pointer;
}
.main .page-list .box-4 .color .orange {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #FF6B00;
  cursor: pointer;
}
.main .page-list .box-4 .color .yellow {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #D6B73B;
  margin-left: 7px;
  cursor: pointer;
}
.main .page-list .box-4 .color .purple {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #7C4DFF;
  margin-left: 7px;
  cursor: pointer;
}
.main .page-list .box-4 .color .dark-orange {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #F75145;
  margin-left: 7px;
  cursor: pointer;
}
.main .page-list .box-4 .color .dark-purple {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #842759;
  margin-left: 7px;
  cursor: pointer;
}
.main .page-list .box-4 .color .light-brown {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #895C31;
  margin-left: 7px;
  cursor: pointer;
}
.main .page-list .box-4 .color .color-2 {
  margin-top: 10px;
}
.main .page-list .svg {
  margin-left: 120px;
}
.main .page-list .accordion {
  border: none;
  background: white;
}
.main .row {
  gap: 24px;
}

#product .sizes .product-mini-img {
  width: 72px;
  height: 94px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
  margin: 10px 0;
}
#product .sizes .product-mini-img img {
  width: 70px;
  height: 79px;
  flex-shrink: 0;
}
#product .product {
  margin: 20px;
  width: 456px;
  height: 473px;
  flex-shrink: 0;
}
#product .product .new {
  width: 79px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #43d167;
}
#product .product .new span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
}
#product .product .product-img {
  width: 340px;
  height: 379px;
  flex-shrink: 0;
}
#product .product-params {
  margin-left: 69px;
}
#product .product-params .product-name {
  color: #212121;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}
#product .product-params .product-pieces .piece-box {
  width: 224px;
  height: 60px;
  flex-shrink: 0;
  margin: 8px;
  border-radius: 8px;
  border: 1px solid #e4e4e4;
}
#product .product-params .product-pieces .piece-box .piece-count {
  color: rgba(33, 33, 33, 0.9);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
}
#product .product-params .product-pieces .piece-box .piece-price {
  color: #f75145;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 30.6px */
}
#product .product-size-color .size span {
  color: #212121;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  margin: 7px;
}
#product .product-size-color .size .size-boxes .size-box {
  width: 64px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #e4e4e4;
  margin: 7px;
  color: rgba(33, 33, 33, 0.9);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}
#product .product-size-color .color span {
  color: #212121;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  margin: 7px;
}
#product .product-size-color .color .color1 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #cd5c0b;
  margin: 10px;
}
#product .product-size-color .color .color2 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #0085ff;
  margin: 10px;
}
#product .product-size-color .color .color3 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #35783b;
  margin: 10px;
}
#product .product-size-color .color .color4 {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #ed0875;
  margin: 10px;
}
#product .buttons {
  padding: 10px;
}
#product .buttons .addtocard {
  border: none;
  width: 244px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #df4244;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
  margin-right: 10px;
}
#product .buttons .cashpayment {
  margin-left: 10px;
  border-radius: 8px;
  border: 1px solid #212121;
  width: 244px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
}

#desc .desc-header {
  color: #212121;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 34px */
}
#desc .desctext {
  color: rgba(33, 33, 33, 0.75);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}

.end-point {
  background: #F7F7F9;
  padding: 40px;
}
.end-point .col-12 {
  border: 0px solid;
  width: 500px;
}
.end-point .all-details {
  justify-content: space-around;
}
.end-point .footer-details {
  gap: 70px;
  margin-left: 250px;
}
.end-point .col-2 {
  width: 100px;
}
.end-point .head-of-footer {
  display: flex;
  justify-content: space-around;
}
.end-point .snobella {
  font-size: 23px;
}

.the-end {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}
.the-end li {
  padding: 7px;
}/*# sourceMappingURL=main.css.map */