#slider {
  background-color: #ffe2e0;
  height: 584px;
  .slider-img {
    img {
      width: 642px;
      height: 535px;
      flex-shrink: 0;
    }
  }
  .slider-content {
    margin-top: 99px;
    // margin-left: 202p;
    h2 {
      font-family: Rubik;
      font-size: 24px;
      font-weight: 500;
      line-height: 41px;
      letter-spacing: 0em;
      text-align: left;
      color: #df4244;
    }
    h1 {
      font-family: Rubik;
      font-size: 40px;
      font-weight: 700;
      line-height: 68px;
      letter-spacing: 0em;
      text-align: left;
      color: #212121;
    }
    p {
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
      color: #212121bf;
    }
    button {
      margin-top: 48px;
      width: 192px;
      height: 52px;
      top: 551px;
      left: 201px;
      border-radius: 8px;
      border: none;
      background-color: #206363;
      span {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
      }
    }
  }
}
#services {
  height: 144px;
  background-color: #f7f7f7;
  .services-box {
    margin: 59px auto;
    span {
      color: #000;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 170%;
    }
  }
}
#categories {
  .categories-box {
    border-radius: 8px;
    background: #f5f5f5;
    width: 264px;
    height: 162px;
    flex-shrink: 0;
    padding: 24px;
    margin: 80px 0;
    position: relative;
    span {
      color: #000;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 170%;
    }
    img {
      width: 163px;
      height: 157px;
      flex-shrink: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
#featured {
  .featured-heading {
    h1 {
      color: #000;
      font-family: Rubik;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 170%;
    }
    a {
      color: #000;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;
    }
  }
  .featured-carts {
    .cart {
      width: 360px;
      height: 508px;
      flex-shrink: 0;
      border-radius: 8px;
      background-color: #f9f9f9;
      .cart-img-box {
        height: 270px;
        padding: 16px;
        .cart-img {
          img {
            width: 218px;
            height: 243px;
            flex-shrink: 0;
          }
        }
        .new {
          width: 79px;
          height: 32px;
          flex-shrink: 0;
          border-radius: 8px;
          background-color: #43d167;
          span {
            color: #fff;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 170%; /* 27.2px */
          }
        }
        .discount {
          width: 79px;
          height: 32px;
          flex-shrink: 0;
          border-radius: 8px;
          background-color: #DF4244;
          span {
            color: #fff;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 170%; /* 27.2px */
          }
        }
      }
      .cart-text-content {
        margin-top: 46px;
        .desc {
          color: #000;
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 170%; /* 27.2px */
        }
        .price {
          .new-price {
            color: #f75145;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 170%; /* 34px */
          }
          .old-price {
            color: rgba(54, 54, 54, 0.75);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%; /* 27.2px */
          }
        }
        .add-to-card {
          margin-top: 31px;
          width: 312px;
          height: 48px;
          flex-shrink: 0;
          border-radius: 8px;
          border: 1px solid #212121;
        }
      }
    }
  }
  padding-bottom: 72px;
}
#bestseller {
  padding-bottom: 72px;
  padding-top: 72px;
  background-color: #FFF7F7;
  .featured-heading {
    h1 {
      color: #000;
      font-family: Rubik;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 170%;
    }
    a {
      color: #000;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;
    }
  }
  .featured-carts {
    .cart {
      width: 360px;
      height: 508px;
      flex-shrink: 0;
      border-radius: 8px;
      background-color: #f9f9f9;
      .cart-img-box {
        height: 270px;
        padding: 16px;
        .cart-img {
          img {
            width: 218px;
            height: 243px;
            flex-shrink: 0;
          }
        }
        .new {
          width: 79px;
          height: 32px;
          flex-shrink: 0;
          border-radius: 8px;
          background-color: #43d167;
          span {
            color: #fff;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 170%; /* 27.2px */
          }
        }
        .discount {
          width: 79px;
          height: 32px;
          flex-shrink: 0;
          border-radius: 8px;
          background-color: #DF4244;
          span {
            color: #fff;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 170%; /* 27.2px */
          }
        }
      }
      .cart-text-content {
        margin-top: 46px;
        .desc {
          color: #000;
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 170%; /* 27.2px */
        }
        .price {
          .new-price {
            color: #f75145;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 170%; /* 34px */
          }
          .old-price {
            color: rgba(54, 54, 54, 0.75);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%; /* 27.2px */
          }
        }
        .add-to-card {
          margin-top: 31px;
          width: 312px;
          height: 48px;
          flex-shrink: 0;
          border-radius: 8px;
          border: 1px solid #212121;
        }
      }
    }
  }
}
#discounted {
  padding-bottom: 72px;
  padding-top: 72px;
  .featured-heading {
    h1 {
      color: #000;
      font-family: Rubik;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 170%;
    }
    a {
      color: #000;
      text-align: center;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 170%;
    }
  }
  .featured-carts {
    .cart {
      width: 360px;
      height: 508px;
      flex-shrink: 0;
      border-radius: 8px;
      background-color: #f9f9f9;
      .cart-img-box {
        height: 270px;
        padding: 16px;
        .cart-img {
          img {
            width: 218px;
            height: 243px;
            flex-shrink: 0;
          }
        }
        .new {
          width: 79px;
          height: 32px;
          flex-shrink: 0;
          border-radius: 8px;
          background-color: #43d167;
          span {
            color: #fff;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 170%; /* 27.2px */
          }
        }
        .discount {
          width: 79px;
          height: 32px;
          flex-shrink: 0;
          border-radius: 8px;
          background-color: #DF4244;
          span {
            color: #fff;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 170%; /* 27.2px */
          }
        }
      }
      .cart-text-content {
        margin-top: 46px;
        .desc {
          color: #000;
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 170%; /* 27.2px */
        }
        .price {
          .new-price {
            color: #f75145;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 170%; /* 34px */
          }
          .old-price {
            color: rgba(54, 54, 54, 0.75);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%; /* 27.2px */
          }
        }
        .add-to-card {
          margin-top: 31px;
          width: 312px;
          height: 48px;
          flex-shrink: 0;
          border-radius: 8px;
          border: 1px solid #212121;
        }
      }
    }
  }
}
